@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|Roboto');

$color1: #466466;
$color2: rgba (23,45,111,0.8);
$color3: red;

$fuente-titulos: "PT Sans Caption";
$fuente-textos: "Roboto";