@import "variables";
@import "header";

#s1{
	h3{
		background: limegreen;
	}
	p{
		font-family: $fuente-textos;
		&.destacado{
			font-weight: bold;
		}
	}
}

#telefe{ 
	div{
	 	width: 100px;
     	height: 100px;
     	border-radius: 50%;
     	background: green;
    	display: inline-block;
    	&:nth-child(2) {
    	background: blue;
		}
		&:nth-child(3){
		background: red;
		}
	}
}

#telefe{ 
	div{
	 	width: 100px;
     	height: 100px;
     	border-radius: 50%;
     	background: green;
    	display: inline-block;
    	&:nth-child(2) {
    	background: blue;
		}
		&:nth-child(3){
		background: red;
		}
	}
}

#telefe2{
		div{
	 	width: 100px;
     	height: 100px;
     	border-radius: 50%;
     	background: green;
    	display: inline-block;
    	&:after, &:before{
    		content:"";
    		width: 100px;
    		height: 100px;
    		border-radius: 50%;
    		background: blue;
    		display:inline-block;
			}
		&:before{
			background: red;
		}
	}
}